.loop-view .carousel .imagess {
  width: 1460px;
  -webkit-box-shadow: 0px 14px 38px rgba(0, 0, 0, .18), 0 0 80px 15px rgba(0, 0, 0, .18); 
  -moz-box-shadow: 0px 14px 38px rgba(0, 0, 0, .18), 0 0 80px 15px rgba(0, 0, 0, .18);
  box-shadow: 0px 14px 38px rgba(0, 0, 0, .18), 0 0 80px 15px rgba(0, 0, 0, .18);
  margin: 0 auto;
}

.item {
  text-align: center;
  display: none;
  position: relative;
  top: calc(50% - 270px);

  .data-display {
    
  }
}

.active {
  display: block;
}

.carousel {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}