html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  min-height: 100%;
  overflow: hidden;

  &.main-page, &.loop-view {
    height: 100%;
  }

  body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    height: 100%;
    min-height: 100%;

    .main {
      height: 100%;

      form {
        height: 100%;
        opacity: 1;
        @include transition (opacity .3s);

        .input-info {
          position: relative;
          top: calc(50% - 170px);

          .name-input {
            text-align: center;
            position: relative;
            
            .name-title {
              font-weight: 300;
              color: gray;
              letter-spacing: 3px;
              padding-bottom: 60px;
              width: 433px;
              margin: 0 auto;
              line-height: 30px;
            }

            .name {
              width: 600px;
              height: 75px;
              resize: none;
              outline: none;
              border: 1px solid #c8c8c8;
              font-size: 25px;
              font-weight: lighter;
              font-family: roboto, sans-serif;
              color: gray;
              letter-spacing: 5px;
              text-align: center;
              line-height: 79px;
              overflow: hidden;
              @include transition (.2s);

              &:active, &:focus {
                outline: none;
                border: 1px solid gray;
                @include transition (.2s);
              }
            }

            #right {
              border-left: 1px solid #e8e8e8;
            }
          }

          .submit {
            text-decoration: none;
            text-align: center;
            background: dodgerblue;
            width: 160px;
            display: block;
            color: white;
            margin: 0 auto;
            padding: 18px 0px;
            margin-top: 85px;
            opacity: 1;
            letter-spacing: 2px;
            cursor: pointer;
            @include cubic (.3s);

            &:hover {
              background: darken(dodgerblue, 10%);
              @include transition (.3s);
            }

            p {
              letter-spacing: 3px;
            }
          }
        }



        
      }

      .loading-div {
        display: none;
        .loading {
          color: gray;
          font-weight: lighter;
          letter-spacing: 5px;
          position: absolute;
          width: 100%;
          text-align: center;
          top: calc(50% - 8px);
          z-index: -100;
          opacity: 0;
          @include transition (opacity 1s)
        }
      }

      .img-wrapper {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        display: none;
        background: #fff;

        .successful {
          text-align: center;
          position: absolute;
          top: 70px;
          width: 100%;
          color: #c8c8c8;
          font-weight: lighter;
          letter-spacing: 5px;
          font-size: 13px;
          opacity: 0;
          @include transition (opacity .3s);
        }

        .reload {
          text-align: center;
          position: absolute;
          bottom: 50px;
          width: 100%;
          color: #c8c8c8;
          letter-spacing: 12px;
          cursor: pointer;
          opacity: 0;
          font-size: 13px;
          font-weight: lighter;
          @include transition (opacity .3s);

          &:hover {
            opacity: .5;
            @include transition (opacity .3s);

          }
        }

      }

      .img-canvas {
        display: block;
        width: 960px;
        height: 540px;
        top: calc(50% - 270px);
        position: relative;
        margin: 0 auto;
        opacity: 0;
        -webkit-box-shadow: 0px 14px 38px rgba(0, 0, 0, .18), 0 0 80px 15px rgba(0, 0, 0, .18); 
        -moz-box-shadow: 0px 14px 38px rgba(0, 0, 0, .18), 0 0 80px 15px rgba(0, 0, 0, .18);
        box-shadow: 0px 14px 38px rgba(0, 0, 0, .18), 0 0 80px 15px rgba(0, 0, 0, .18);
        @include transition (opacity 1s);
      }
    }

    #new-img {
      width: 100%;
      height: 100%;
      position: absolute;
      background: none;
      top: 0px;
      opacity: 0;
      display: none;
    }
  }
}

